/* styles/calendar.module.css */
.rbc-header {
    background-color: #f0f0f0;
    color: #333;
  }
  
  .rbc-event {
    background-color: #007bff;
    color: #fff;
    border: none;
    box-shadow: none;
  }
  
  .rbc-event-label {
    font-weight: bold;
  }
  