@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
    width: fit-content;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 50px;
    border-radius: 10px;
}

.nav-body {
  position: relative;
  background-color: gray;
  padding: 2rem;
  border-radius: 1rem;
  line-height: 1.25rem;
  font-size: 0.875rem/* 14px */;
  --tw-bg-opacity: 1;
  background-color: rgb(200 201 199 / var(--tw-bg-opacity));
}

.nav-body-small {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* existing styles */
  padding: 2rem;
  border-radius: 1rem;
  line-height: 1.25rem;
  font-size: 0.875rem;
  --tw-bg-opacity: 1;
}


.email{
  display: flex;
  align-items: center;
  justify-content: center;
}


.scrollbar-thin {
  max-height: 600px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

/* Hide the up and down arrow of the scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #d4d4d4;
}